.consultation02-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    gap: 30px;
}

.ingredients {
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}